rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // True if the signed in user owns the parent quiz template
    function templateAuthor(template) {
      return request.auth != null
        && get(/databases/$(database)/documents/quizTemplates/$(template)).data.authorId == request.auth.uid;
    }
  
    // True if the signed in user owns the parent quiz
    function quizOwner(quizId) {
      return request.auth != null
        && get(/databases/$(database)/documents/quizzes/$(quizId)).data.ownerId == request.auth.uid;
    }

    // True if the signed in user is a member of a team on the quiz
    function quizPlayer(quizId) {
      let playerTeam = get(/databases/$(database)/documents/playerTeams/$(request.auth.uid));
      let team = get(/databases/$(database)/documents/teams/$(playerTeam.data.teamId));
      return request.auth != null && team.data.quizId == quizId;
    }

    function authedAndTeamMember(quizId, teamId) {
      return request.auth != null && teamMember(quizId, teamId, request.auth.uid);
    }

    function teamMember(quizId, teamId, uid) {
      let playerTeam = get(/databases/$(database)/documents/playerTeams/$(uid));
      let team = get(/databases/$(database)/documents/teams/$(playerTeam.data.teamId));
      return team.data.quizId == quizId && playerTeam.data.teamId == teamId;
    }

    function teamCaptain(quizId, teamId, uid) {
      // Need to use getAfter to handle the case when the team and secrets are being created in the
      // same transaction.
      let teamData = getAfter(/databases/$(database)/documents/teams/$(teamId)).data;
      return uid == teamData.captainId && quizId == teamData.quizId;
    }

    function questionVisibleToPlayer() {
      return resource.data.isRevealed == true;
    }

    function clueVisibleToPlayer(quizId, clueId) {
      let clue = get(/databases/$(database)/documents/quizzes/$(quizId)/clues/$(clueId));
      let question = get(/databases/$(database)/documents/quizzes/$(quizId)/questions/$(clue.data.questionId));
      return question.data.isRevealed && clue.data.isRevealed;
    }

    function answerMatchesClueAndQuestion(quizId, clueId) {
      let clue = get(/databases/$(database)/documents/quizzes/$(quizId)/clues/$(clueId));
      return request.resource.data.questionId == clue.data.questionId;
    }

    match /quizTemplates/{template} {
      allow create: if request.auth != null;
      allow read, update, delete: if templateAuthor(template);

      match /questions/{question} {
        allow read, write: if templateAuthor(template);

        match /clues/{clue} {
          allow read, write: if templateAuthor(template);
        }
      }
    }

    match /quizSecrets/{quiz} {
      allow create: if request.auth != null;
      allow read, update, delete: if quizOwner(quiz);
    }

    match /quizzes/{quiz} {
      allow create, update, delete: if quizOwner(quiz);
      allow read: if request.auth != null;

      match /questions/{question} {
        // Owner can update a question to set the currentQuestionIndex, reveal/close timestamps
        allow update: if quizOwner(quiz);
        allow get: if questionVisibleToPlayer() || quizOwner(quiz);
        allow list: if quizPlayer(quiz) || quizOwner(quiz);
      }

      match /clues/{clue} {
        // The quiz owner updates the clue to set the isRevealed flag and the revealedAt/closedAt timestamps (to the server's timestamp)
        allow update: if quizOwner(quiz);
        allow get, list: if resource.data.get('isRevealed', true) == true || quizOwner(quiz);
      }

      match /answers/{answer} {
        // Only team captains can create answers, and only for revealed questions.
        // New answers may not have points.
        // New answers must be created with the current (server) timestamp.
        allow create: if request.auth != null &&
          teamCaptain(quiz, request.resource.data.teamId, request.auth.uid) &&
          clueVisibleToPlayer(quiz, request.resource.data.clueId) &&
          answerMatchesClueAndQuestion(quiz, request.resource.data.clueId) &&
          !('points' in request.resource.data) &&
          request.resource.data.submittedAt == request.time;
        // The quiz owner and anyone on the team can read their answers
        allow read: if quizOwner(quiz) || authedAndTeamMember(quiz, resource.data.teamId);
        // The quiz owner can update the answer's awarded points
        allow update: if quizOwner(quiz) && request.resource.data.keys().hasOnly(['points']);
      }
    }

    match /teamSecrets/{team} {
      // You need the QUIZ passcode to create a team for this quiz
      allow create: if request.auth != null &&
        request.resource.data.quizPasscode == get(/databases/$(database)/documents/quizSecrets/$(request.resource.data.quizId)).data.passcode;

      // You need to be the captain to update or delete a team
      allow update, delete: if request.auth != null && request.auth.id == resource.data.captainId;

      // Nobody can read the info - it's just for access control
    }

    match /teams/{team} {
      // Only team captains (according to teamSecrets) can create / delete their team
      allow create, delete: if request.auth != null &&
        teamCaptain(request.resource.data.quizId, team, request.auth.uid) &&
        request.resource.data.points == 0; // Points must start at zero

      // Team captains can update the non-sensitive fields, but only the quiz owner can update points
      allow update: if request.auth != null && 
        ((teamCaptain(request.resource.data.quizId, team, request.auth.uid) && !('points' in request.resource.data)) ||
        quizOwner(resource.data.quizId)
        );

      // Anyone can read team info
      allow read: if request.auth != null;
    }

    match /playerTeams/{player} {
      // Creating adds you to a team. You need the TEAM passcode to do this.
      allow create, update: if request.auth != null &&
        request.auth.uid == player &&
        // Need to use getAfter because playerTeam and team may be created in the same transaction
        request.resource.data.teamPasscode == getAfter(/databases/$(database)/documents/teamSecrets/$(request.resource.data.teamId)).data.passcode;

      // You can remove your own player
      allow delete: if request.auth != null && request.auth.uid == player;

      // You can read your own playerTeams entry, to work out what team you're on
      allow get: if request.auth != null && request.auth.uid == player;
    }
  }
}