.answersHistory {
    flex-grow: 1;
    overflow: auto;
}

.answer {
    display: flex;
    flex-direction: row;
}

.invalidAnswer {
    text-decoration: line-through;
}

.answerInfo {
    flex-grow: 1;
}