.answersHistory {
    flex-grow: 1;
    overflow-y: auto;
}

.clueAnswerGroup {
    composes: verySmallBottomPadding, verySmallPadding from './layout.module.css';
    border-bottom: 1px solid var(--white-washed-out);
}
.clueAnswerGroup:last-child {
    border-bottom: none;
}

.bandedAnswer:nth-child(odd) {
    background-color: var(--white-very-slightly-washed-out);
}

.answer {
    composes: verySmallPadding from './layout.module.css';
    display: flex;
    flex-direction: row;
}

.invalidAnswer {
    composes: answer;
    text-decoration: line-through;
}

.answerInfo {
    flex-grow: 1;
}

.teamName {
    font-style: italic;
}

.answerTextIndented {
    composes: verySmallLeftPadding from './layout.module.css';
}

.markingButtons {
    composes: verySmallLeftPadding from './layout.module.css';
    flex-shrink: 0;
    display: flex;
    align-items: center;
}