.answersHistory {
    flex-grow: 1;
    overflow-y: auto;
}

.clueAnswerGroup {
    composes: verySmallBottomPadding, verySmallPadding from './layout.module.css';
    border-bottom: 1px solid var(--white-washed-out);
}
.clueAnswerGroup:last-child {
    border-bottom: none;
}

.answer {
    display: flex;
    flex-direction: row;
}

.invalidAnswer {
    composes: answer;
    text-decoration: line-through;
}

.answerInfo {
    flex-grow: 1;
}

.markingButtons {
    flex-shrink: 0;
}