.card {
    composes: rounded shadow from './effects.module.css';
    composes: smallPadding from './layout.module.css';
    background-color: white;
}
.card + .card {
    margin-top: 2em;
}

.card > h2, .card > h3 {
    margin-top: 0;
    margin-bottom: 0;
}