.primaryText {
    color: var(--dark-blue);
}

.errorText {
    color: var(--red);
}

.primaryBg {
    background-color: var(--dark-blue);
}
.primaryBg:disabled {
    background-color: var(--dark-blue-washed-out);
}
.textOnPrimaryBg {
    composes: primaryBg;
    color: var(--white);
}
.textOnPrimaryBg:disabled {
    color: var(--white-washed-out);
}