:root {
    --dark-blue: hsl(225, 60%, 55%);
}

.primaryText {
    color: var(--dark-blue);
}

.primaryBg {
    background-color: var(--dark-blue);
}
.textOnPrimaryBg {
    composes: primaryBg;
    color: white;
}