.primaryText {
    color: var(--dark-blue);
}

.errorText {
    color: var(--red);
}

.subtleText {
    color: var(--dark-grey);
}

.primaryBg {
    background-color: var(--dark-blue);
}
.primaryBg:disabled {
    background-color: var(--dark-blue-washed-out);
}
.textOnPrimaryBg {
    composes: primaryBg;
    color: var(--white);
}
.textOnPrimaryBg:disabled {
    color: var(--white-washed-out);
}

.dangerBg {
    background-color: var(--red);
}
.danger:disabled {
    background-color: var(--red-washed-out);
}
.textOnDangerBg {
    composes: dangerBg;
    color: var(--white);
}
.textOnDangerBg:disabled {
    color: var(--white-washed-out);
}