.page {
    padding: 2em 6em;
}

.card {
    border-radius: 5px;
    padding: 1em;
    box-shadow: black 1px 1px 4px -1px;
    background-color: white;
}
.card + .card {
    margin-top: 2em;
}

.buttonAsLink {
    color: hsl(225, 60%, 55%);
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: inline;
    font: inherit;
    padding: 0;
    text-decoration: underline;
}