.questionPanel {
    flex-grow: 1;
}

.animated {
    animation: swingAnimation 0.2s;
}
@keyframes swingAnimation {
    0% {
        transform: perspective(1000px) translateY(-50%) rotateX(-75deg) translateY(50%);
    }
    85% {
        transform: perspective(1000px) translateY(-50%) rotateX(5deg) translateY(50%);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

.connections {
    composes: smallTopMargin from './layout.module.css';
    width: 100%;
}

.group1 {
    composes: glassItem veryDarkBlueGlassColours from './glass.module.css';
}
.group2 {
    composes: glassItem midGreenGlassColours from './glass.module.css';
}
.group3 {
    composes: glassItem darkRedGlassColours from './glass.module.css';
}
.group4 {
    composes: glassItem midTurquoiseGlassColours from './glass.module.css';
}

.unrevealedGroup {
    composes: placeholderItem from './placeholder.module.css';
}

.groupConnection {
    composes: verySmallTopMargin from './layout.module.css';
    composes: animated;
}
.groupConnection:first-of-type {
    margin-top: 0;
}