.glassItem {
    composes: verySmallPadding from './layout.module.css';
    composes: rounded glassy from './effects.module.css';
    text-align: center;
}

.paleBlueGlassColours {
    --lowlight: var(--pale-blue-lowlight);
    --standard: var(--pale-blue);
    --highlight: var(--pale-blue-highlight);
    --shadow: var(--pale-blue-shadow);
}

.midBlueGlassColours {
    --lowlight: var(--mid-blue-lowlight);
    --standard: var(--mid-blue);
    --highlight: var(--mid-blue-highlight);
    --shadow: var(--mid-blue-shadow);
}

.veryDarkBlueGlassColours {
    --lowlight: var(--very-dark-blue-lowlight);
    --standard: var(--very-dark-blue);
    --highlight: var(--very-dark-blue-highlight);
    --shadow: var(--very-dark-blue-shadow);
    color: var(--white);
}

.midGreenGlassColours {
    --lowlight: var(--mid-green-lowlight);
    --standard: var(--mid-green);
    --highlight: var(--mid-green-highlight);
    --shadow: var(--mid-green-shadow);
    color: var(--white);
}

.darkRedGlassColours {
    --lowlight: var(--dark-red-lowlight);
    --standard: var(--dark-red);
    --highlight: var(--dark-red-highlight);
    --shadow: var(--dark-red-shadow);
    color: var(--white);
}

.midTurquoiseGlassColours {
    --lowlight: var(--mid-turquoise-lowlight);
    --standard: var(--mid-turquoise);
    --highlight: var(--mid-turquoise-highlight);
    --shadow: var(--mid-turquoise-shadow);
    color: var(--white);
}