:root {
    --large: 6em;
    --medium: 2em;
    --small: 1em;
    --very-small: 0.5em;
}

.noMarginTop {
    margin-top: 0;
}

.mediumTopMargin {
    margin-top: var(--medium);
}

.wideHorizontalPadding {
    padding-left: var(--large);
    padding-right: var(--large);
}

.mediumTopPadding {
    padding-top: var(--medium);
}
.mediumBottomPadding {
    padding-bottom: var(--medium);
}
.mediumVerticalPadding {
    composes: mediumTopPadding mediumBottomPadding;
}

.smallLeftPadding {
    padding-left: var(--small);
}
.smallPadding {
    padding: var(--small);
}

.smallTopMargin {
    margin-top: var(--small);
}

.verySmallTopMargin {
    margin-top: var(--very-small);
}
.verySmallBottomMargin {
    margin-bottom: var(--very-small);
}

.verySmallBottomPadding {
    padding-bottom: var(--very-small);
}
.verySmallLeftPadding {
    padding-left: var(--very-small);
}
.verySmallPadding {
    padding: var(--very-small);
}