.page {
    composes: wideHorizontalPadding mediumVerticalPadding from './layout.module.css'
}

.pageHeader {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--small);
}

.title {
    margin: 0;
    flex-grow: 1;
}