.wallGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}

.row1 { grid-row: 1; --row-delay: 0; }
.row2 { grid-row: 2; --row-delay: 1; }
.row3 { grid-row: 3; --row-delay: 2; }
.row4 { grid-row: 4; --row-delay: 3; }

.col1 { grid-column: 1; --col-delay: 0; }
.col2 { grid-column: 2; --col-delay: 1; }
.col3 { grid-column: 3; --col-delay: 2; }
.col4 { grid-column: 4; --col-delay: 3; }

.wallClue {
    width: 100%;
    animation: none; /* Override animation set by Clues.module.css */
}

.ungrouped {
    animation: rotateAndZoomAnimation 0.2s backwards;
    animation-delay: calc(((var(--row-delay) + var(--col-delay)) / 6) * 0.5s);
}
@keyframes rotateAndZoomAnimation {
    0% {
        transform: perspective(1000px) rotateY(85deg) rotateZ(-35deg) scale3d(0.2, 0.2, 1);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    85% {
        transform: perspective(1000px) rotateY(-5deg) rotateZ(0deg) scale3d(1.01, 1.01, 1);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);
    }
}

.clickable {
    cursor: pointer;
}

/* Set colours used by Clues.module.css */
.unselected {
    composes: wallClue;
}
.unselected.clickable:hover {
    --lowlight: var(--light-blue-lowlight);
    --standard: var(--light-blue);
    --highlight: var(--light-blue-highlight);
    --shadow: var(--light-blue-shadow);
}

.selected {
    composes: wallClue;
    composes: midBlueGlassColours from './glass.module.css';
}
.selected.clickable:hover {
    --lowlight: var(--mid-blue-darkened-lowlight);
    --standard: var(--mid-blue-darkened);
    --highlight: var(--mid-blue-darkened-highlight);
    --shadow: var(--mid-blue-darkened-shadow);
}

.group1 {
    composes: wallClue;
    composes: veryDarkBlueGlassColours from './glass.module.css';
}

.group2 {
    composes: wallClue;
    composes: midGreenGlassColours from './glass.module.css';
}

.group3 {
    composes: wallClue;
    composes: darkRedGlassColours from './glass.module.css';
}

.group4 {
    composes: wallClue;
    composes: midTurquoiseGlassColours from './glass.module.css';
}
