.wallGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}

.row1 { grid-row: 1; }
.row2 { grid-row: 2; }
.row3 { grid-row: 3; }
.row4 { grid-row: 4; }

.col1 { grid-column: 1; }
.col2 { grid-column: 2; }
.col3 { grid-column: 3; }
.col4 { grid-column: 4; }

.wallClue {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

/* Set colours used by Clues.module.css */
.unselected {
    composes: wallClue;
}
.unselected.clickable:hover {
    --lowlight: var(--light-blue-lowlight);
    --standard: var(--light-blue);
    --highlight: var(--light-blue-highlight);
    --shadow: var(--light-blue-shadow);
}

.selected {
    composes: wallClue;
    --lowlight: var(--mid-blue-lowlight);
    --standard: var(--mid-blue);
    --highlight: var(--mid-blue-highlight);
    --shadow: var(--mid-blue-shadow);
}
.selected.clickable:hover {
    --lowlight: var(--mid-blue-darkened-lowlight);
    --standard: var(--mid-blue-darkened);
    --highlight: var(--mid-blue-darkened-highlight);
    --shadow: var(--mid-blue-darkened-shadow);
}

.group1 {
    composes: wallClue;
    --lowlight: var(--very-dark-blue-lowlight);
    --standard: var(--very-dark-blue);
    --highlight: var(--very-dark-blue-highlight);
    --shadow: var(--very-dark-blue-shadow);
    color: var(--white);
}

.group2 {
    composes: wallClue;
    --lowlight: var(--mid-green-lowlight);
    --standard: var(--mid-green);
    --highlight: var(--mid-green-highlight);
    --shadow: var(--mid-green-shadow);
    color: var(--white);
}

.group3 {
    composes: wallClue;
    --lowlight: var(--dark-red-lowlight);
    --standard: var(--dark-red);
    --highlight: var(--dark-red-highlight);
    --shadow: var(--dark-red-shadow);
    color: var(--white);
}

.group4 {
    composes: wallClue;
    --lowlight: var(--mid-turquoise-lowlight);
    --standard: var(--mid-turquoise);
    --highlight: var(--mid-turquoise-highlight);
    --shadow: var(--mid-turquoise-shadow);
    color: var(--white);
}
