.clue {
    font-size: 1.2rem;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectionOrSequenceClue {
    width: calc(25% - 1em);
}

.revealedClue {
    composes: clue;
    composes: glassItem paleBlueGlassColours from '../../glass.module.css';
    animation: rotateAnimation 0.3s;
}
@keyframes rotateAnimation {
    0% {
        transform: perspective(1000px)
            translateX(-110%) rotateY(70deg) translateX(110%)
            translate3d(-50%, 50%, 0) rotateZ(-5deg) translate3d(50%, -50%, 0)
            scale3d(0.97, 0.97, 1);
        opacity: 0.1;
    }
    85% {
        transform: perspective(1000px)
            translateX(-50%) rotateY(-5deg) translateX(50%)
            translate3d(-50%, 50%, 0) rotateZ(0deg) translate3d(50%, -50%, 0)
            scale3d(1.01, 1.01, 1);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg) rotateZ(0deg);
        opacity: 1;
    }
}

.hiddenClue {
    composes: revealedClue;
    visibility: hidden;
}

.unrevealedClue {
    composes: clue;
    composes: placeholderItem from '../../placeholder.module.css';
}